{
	"github_token : " 52e08f33ac81cdfc94c26dbb32d8eff3ecb7da85"
}

#blocpage
{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px;
	width: 100%;
}
#conteneurgauche
{
	width: 30%;
	background-color: #34d8eb;
	text-align: center;
}
#conteneurgauche h2
{
	background-color: black;
	color: #34d8eb;
}
em
{
	color: #34d8eb;
}
#photo
{
	overflow: hidden;
	border-radius: 150px;
	width: 150px;
	height: 150px;
}
.colonnedroite h2
{
	text-decoration: underline #34d8eb;

}
/* gestion des loisirs*/
.blanc
{
	color: black;
	display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
i
{
	color: #34d8eb;
}
span
{
	text-decoration: underline #34d8eb;
}