{
	github_token : "52e08f33ac81cdfc94c26dbb32d8eff3ecb7da85"
}
/* écran <1280px*/

/* gestion générale*/
@font-face {
    font-family: 'aileronlight';
    src: url('Aileron-Light-webfont.eot');
    src: url('Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Light-webfont.woff2') format('woff2'),
         url('Aileron-Light-webfont.woff') format('woff'),
         url('Aileron-Light-webfont.ttf') format('truetype'),
         url('Aileron-Light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
table
{
	width: 100%;
}
.texte
{
	width: 50%;
	padding-top: 5%;
}
.point
{
	width: 7%;
}
#blocpage
{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px;
	width: 100%;
}
/* gestion partie gauche*/
#conteneurgauche
{
	width: 30%;
	background-color: #34d8eb;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#conteneurgauche h2
{
	background-color: black;
	color: #34d8eb;
}
#photo
{
	padding-top: 100px;
}

/* gestion partie droite*/
i
{
	color: #34d8eb;
}

#colonnedroite h2
{
	text-decoration: underline #34d8eb;
	display : inline;

}
/* gestion de la photo*/
#photostyle
{
	border-radius: 150px;
	width: 150px;
	height: 150px;
	border: 3px black solid;

}
/* gestion identité*/
.identite
{
	margin-top: 75px;
	padding-bottom: 50px;
}
.identite h1
{
	font-size: 2em;

}
/* gestion contact*/
#contact
{
	text-align: left;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 40px;
}
/* gestion A Propos*/
#propos
{
	text-align: left;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 500px;
}
/* gestion des loisirs*/
.blanc
{
	color: black;
	font-size: 40px;
	display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#loisirs
{

}
/* gestion de l identité*/
em
{
	color: #34d8eb;
}
span
{
	text-decoration: underline #34d8eb;
}
/* gestion formation*/
#formation
{
	margin-bottom: 50px;
}

/* gestion experience pro*/
#exp
{
	margin-bottom: 50px;
}

/* gestion recommandations*/

#recommandations
{
	display: flex;
	justify-content: space-between;
}
